nav {
    height: 10%;
    background-color: aqua;
    align-items: center;
    display: flex;
     justify-content: space-evenly;

     a {
        color: white;
        text-decoration: none;
     }
}